<section id="contactSection" class="contact-section py-5">
  <div class="container">
    <h2 class="text-center mb-3">
      <i class="fas fa-paper-plane"></i> Get in Touch with Us!
    </h2>

    <div class="row align-items-center">
      <!-- Contact Form -->
      <div class="col-md-6">
        <form (submit)="onSubmit()">
          <div class="mb-3">
            <label for="name" class="form-label">
              <i class="fas fa-user"></i> Your Name
            </label>
            <input
              type="text"
              id="name"
              class="form-control"
              [(ngModel)]="contactForm.name"
              name="name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">
              <i class="fas fa-envelope"></i> Your Email
            </label>
            <input
              type="email"
              id="email"
              class="form-control"
              [(ngModel)]="contactForm.email"
              name="email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">
              <i class="fas fa-comment"></i> Your Message
            </label>
            <textarea
              id="message"
              class="form-control"
              [(ngModel)]="contactForm.message"
              name="message"
              rows="5"
              required
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary w-100">
            Send Message
          </button>
        </form>
      </div>
      <!-- Contact Image -->
      <div class="col-md-6 text-center">
        <img src="/public/assets/images/contact.png" alt="Contact Us" />
      </div>
    </div>
    <div class="card glassmorphic-card py-4 px-4">
      <p class="text-center mb-2">
        We'd love to hear from you. Whether you have a question about features,
        pricing, need a demo, or anything else, our team is ready to answer all
        your questions.
      </p>
    </div>
  </div>
</section>
