.contact-section {
  background: linear-gradient(135deg, #ebebf7, #f5f5fc, #ffffff);
  padding: 50px 0;
}

.contact-section h2 {
  color: #333;
  font-weight: bold;
}

.contact-section .form-control {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-section .form-label {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.contact-section .form-label i {
  margin-right: 10px;
  color: #564392;
}

.contact-section button {
  background-color: #10081b;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  transition: background-color 0.3s ease;
}

.contact-section button:hover {
  background-color: #564392;
}

.contact-section img {
  max-width: 70%;
  height: auto;
  margin-top: 20px;
}

.contact-section h2 {
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section h2 i {
  margin-right: 10px;
  color: #564392;
}

.contact-section p {
  color: #666;
  font-size: 16px;
}
.glassmorphic-card {
  background: rgba(232, 230, 230, 0.1);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: none;
  max-width: 800px;
  margin: 0 auto;
}

.glassmorphic-card p {
  color: #333;
}