<div class="hero-section">
  <div class="hero-content">
    <div class="hero-text">
      <h1>
        <span style="color: rgb(226, 226, 43)">SecureMiles</span> Admin
        Dashboard
      </h1>
      <p>
        Manage your users, claims, proposals, and policies, View and manage all
        the data in one place
      </p>
    </div>
    <div class="hero-image">
      <img
        src="/public/assets/images/admin.png"
        style="width: 70%"
        alt="Admin Dashboard"
      />
    </div>
  </div>
</div>
<h1
  class="text-center mt-2 mb-2"
  style="
    font-size: 2.5rem;
    color: #48086d;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-weight: 500;
  "
>
  <i class="fas fa-shield"></i> SecureMiles At A Glance
</h1>

<div class="container">
  <div class="row cont">
    <div class="col-md-6" *ngFor="let card of cards">
      <div class="glass-card text-center shadow-sm mb-4">
        <img [src]="card.image" class="card-image" alt="{{ card.title }}" />
        <div class="card-body">
          <h5
            class="card-title fw-bold"
            style="
              font-size: 1.5rem;
              color: #48086d;
              font-weight: 500;
              margin-bottom: 1rem;
            "
          >
            <i class="fas fa-chart-line" style="color: #48086d"></i>
            {{ card.title }}
          </h5>
          <p
            style="
              font-size: 1.2rem;
              color: #333;
              font-weight: 300;
              margin-bottom: 1rem;
              margin-top: 1.5rem;
            "
          >
            <i class="fas fa-user"></i> {{ card.desc }}
          </p>
          <p class="card-text">
            <strong style="font-size: 3rem; color: #48086d; font-weight: 800">{{
              card.count
            }}</strong>
            {{ card.title.toLowerCase() }}
          </p>

          <a
            [routerLink]="card.link"
            class="btn btn-primary"
            style="background-color: #48086d; border-color: #48086d"
            >View {{ card.title }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center mt-4">Reports and Insights</h2>
<div class="row mt-4 head">
  <!-- Policies Chart -->
  <div class="col-md-4">
    <div>
      <h5 class="text-center header">
        <i class="fas fa-chart-pie icon"></i> Policies Overview
      </h5>
      <ngx-charts-pie-chart
        [results]="charts.policiesByMonth"
        [legend]="true"
        [labels]="true"
        [doughnut]="true"
        [view]="[300, 300]"
      ></ngx-charts-pie-chart>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <h5 class="text-center header">
        <i class="fas fa-file-alt icon"></i> Claims Overview
      </h5>
      <ngx-charts-pie-chart
        [results]="charts.claimsByMonth"
        [legend]="true"
        [labels]="true"
        [doughnut]="false"
        [view]="[300, 300]"
      ></ngx-charts-pie-chart>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <h5 class="text-center header">
        <i class="fas fa-file-signature icon"></i> Proposals Overview
      </h5>
      <ngx-charts-pie-chart
        [results]="charts.proposalsByMonth"
        [legend]="true"
        [labels]="true"
        [doughnut]="false"
        [view]="[300, 300]"
      ></ngx-charts-pie-chart>
    </div>
  </div>
</div>
