.section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.section h6 {
  margin-top: 0;
  color: #007bff;
}

.section p {
  margin: 5px 0;
}

.section ul {
  padding-left: 20px;
}

.section ul li {
  list-style-type: none;
}

.section ul li a {
  color: #007bff;
  text-decoration: none;
}

.section ul li a:hover {
  text-decoration: underline;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

/* table header */
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-header th {
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  background-color: #138496;
  border-color: #117a8b;
}
