.policy-card {
  border: 1px solid #6a08a3;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: transform 0.3s;
  background: linear-gradient(135deg, #f1e8f5, #fcfbfc, #ececed);
  width: 90%;
}
.policy-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.policy-card:hover {
  transform: scale(1.05);
}

.policy-actions .btn {
  margin-right: 5px;
}

.modal.show {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.modal .modal-dialog {
  max-width: 600px;
  margin: 30px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 10px;
}

.policy-header {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.policy-content p {
  margin: 5px 0;
  font-size: 1.1em;
}

.policy-actions button {
  margin: 5px;
}

.active-status {
  color: green;
}

.inactive-status {
  color: red;
}

.icon {
  margin-right: 8px; /* Adjust the value as needed */
}

.label {
  margin-right: 4px; /* Adjust the value as needed */
}

.value {
  margin-left: 4px; /* Adjust the value as needed */
}
