.footer-section {
  background-color: #10081B;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-section ul {
  padding: 0;
  list-style: none;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: yellow !important; /* Use !important to ensure it overrides other styles */
}

.social-icons a {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: yellow !important; /* Use !important to ensure it overrides other styles */
}

.footer-section a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: yellow !important; /* Use !important to ensure it overrides other styles */
}