<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="/public/assets/images/logo.png" alt="SecureMiles" width="300" />
    </a>

    <!-- Toggle button for mobile view -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- Common Links -->

        <!-- User Links -->
        <ng-container *ngIf="isLoggedIn() && getRole() !== 'Admin'">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/policy">Policies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/claim">Claims</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/proposals">Proposals</a>
          </li>
        </ng-container>
        <li *ngIf="getRole() !== 'Admin'" class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        <!-- Admin Links -->
        <ng-container *ngIf="isLoggedIn() && getRole() === 'Admin'">
          <li class="nav-item">
            <a class="nav-link" routerLink="admin/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/claims">Claims</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/proposals">Proposals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/policies">Policies</a>
          </li>
        </ng-container>

        <!-- Authentication Links -->
        <ng-container *ngIf="!isLoggedIn()">
          <li class="nav-item">
            <a
              class="btn btn-primary nav-link text-green btn-green-bg"
              [routerLink]="['/login']"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              class="btn btn-primary nav-link text-black btn-white-bg"
              [routerLink]="['/signup']"
              >Sign Up</a
            >
          </li>
        </ng-container>

        <!-- Profile and Logout Links -->
        <ng-container *ngIf="isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">
              <i class="fas fa-user"></i> {{ userEmail }}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="btn btn-primary nav-link text-white btn-danger-bg"
              (click)="logout()"
              >Logout</a
            >
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
