<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="/public/assets/images/logo.png" alt="SecureMiles" width="300" />
    </a>

    <!-- Toggle button for mobile view -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Policies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Claims</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary nav-link text-black btn-white-bg" href="#"
            >Sign In</a
          >
        </li>
        <li class="nav-item">
          <a class="btn btn-primary nav-link text-green btn-green-bg" href="#"
            >Sign Up</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
