<div class="container mt-4">
  <div>
    <!-- add icons and text -->
    <h3 class="fw-bold" style="color: #2f1a56">
      <i class="fas fa-car"></i> Active Proposals for your Vehicles
    </h3>
    <p class="lead">
      <i class="fas fa-tasks"></i> View, edit, delete, and update proposals.
    </p>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4" *ngFor="let proposal of proposals">
      <div class="card glassmorphic-card shadow-sm h-100">
        <div class="card-body d-flex align-items-center">
          <div>
            <h5 class="card-title">
              <i class="fas fa-car"></i> {{ proposal.vehicleMake }}
              {{ proposal.vehicleModel }}
            </h5>
            <p class="card-text">
              <strong>Registration:</strong>
              {{ proposal.vehicleRegistrationNumber }}<br />
              <strong>Coverage:</strong> ${{
                proposal.requestedCoverage | number
              }}<br />
              <strong>Status:</strong> {{ proposal.status }}<br />
              <strong>Submitted:</strong>
              {{ proposal.submissionDate | date : "medium" }}
            </p>
            <div class="d-flex justify-content-between">
              <!-- <button
                class="btn btn-light btn-sm me-2"
                (click)="openEditModal(proposal)"
              >
                <i class="fas fa-pencil-alt"></i> Edit
              </button> -->
              <button
                class="btn btn-light btn-sm me-2"
                (click)="deleteProposal(proposal.proposalId)"
              >
                <i class="fas fa-trash-alt"></i> Delete
              </button>
              <button
                class="btn btn-light btn-sm"
                (click)="updateDocument(proposal.proposalId)"
              >
                <i class="fas fa-upload"></i> Update Document
              </button>
            </div>
          </div>

          <img
            [src]="getRandomImageUrl()"
            alt="Vehicle Image"
            class="img-fluid me-3"
            style="width: 300px"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Proposal Modal -->
  <div
    class="modal fade"
    id="editProposalModal"
    tabindex="-1"
    aria-labelledby="editProposalModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProposalModalLabel">Edit Proposal</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="editProposalForm"
            (ngSubmit)="submitEditProposal()"
          >
            <div class="mb-3">
              <label for="vehicleMake" class="form-label">Vehicle Make</label>
              <input
                id="vehicleMake"
                class="form-control"
                formControlName="vehicleMake"
              />
            </div>
            <div class="mb-3">
              <label for="vehicleModel" class="form-label">Vehicle Model</label>
              <input
                id="vehicleModel"
                class="form-control"
                formControlName="vehicleModel"
              />
            </div>
            <div class="mb-3">
              <label for="requestedCoverage" class="form-label"
                >Requested Coverage</label
              >
              <input
                id="requestedCoverage"
                type="number"
                class="form-control"
                formControlName="requestedCoverage"
              />
            </div>
            <button type="submit" class="btn btn-primary">
              Update Proposal
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
