.hero-section {
  background: linear-gradient(135deg, #4CAF50, #81C784);
  color: white;
  padding: 80px 0;
}

.hero-section h1 {
  font-size: 3.5rem;
}

.hero-section p {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 20px;
}

.hero-section img {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  margin-left: 100px;
 }

.benefits-section .card {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-section .card:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.how-to-section .step-card {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cta-section {
  background: #6A1B9A;
  color: #ffffff;
  padding: 40px;
}
.modal-content {
  background: linear-gradient(135deg, #d7c3ee, #d1dff4);
  border-radius: 8px;
}

.modal-header {
  background-color: #564392;
  color: white;
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.btn-primary {
  background-color: #302457;
  border: none;
}

.btn-primary:hover {
  background-color: #564392;
}


.primary{
  color :#2F1A56 !important;
}

.img{
  width: 50%;
  height: auto;
  
}

.cardBody{
  background-color: #f0eaf4;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.coverage-section {
  background: linear-gradient(135deg, #D2DFF4 0%, #D6C4EE 100%);
  color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.coverage-section .card {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.coverage-section ul {
  list-style: none;
  padding: 0;
}

.coverage-section li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.coverage-section i {
  margin-right: 10px;
  font-size: 1.5em;
}

.how-to-section {
  background: linear-gradient(135deg, #bbc9f5 0%, #f6c199 100%);
  color:  #2F1A56;
 
}

.how-to-section .step-card {

  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.how-to-section .step-card i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #fff;
}

.how-to-section h5 {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.how-to-section p {
  font-size: 1em;
}