.features-section {
  background: linear-gradient(135deg, #D7C3EE, #D1DFF4, #EBE8F7);
  background-size: 200% 200%;
  animation: gradientAnimation 6s ease infinite;
  color: #333; 
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

  
  .feature-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  .feature-img {
    width: 80px;
    height: auto;
  }
  
  .feature-title {
    font-weight: bold;
    color: rgb(32, 18, 58);
  }
  
  .feature-desc {
    font-size: 0.9rem;
    color: rgb(56, 31, 105);
  }
  
  .btn-primary {
    background-color: rgb(56, 31, 105);
    border: none;
  }
  
  .btn-primary:hover {
     /* dark yellow */
    background-color: rgb(244, 221, 19);
  }

.headingColor {
  color: rgb(58, 32, 108);
}
    .custom-link {
      font-weight: bold;
      text-decoration: none;
       color:rgb(58, 32, 108);
      position: relative;
      display: inline-block;
      transition: color 0.3s ease;
      margin-left: 60px;
    }
    
    .custom-link::after {
      content: '→';
      position: absolute;
      right: -20px; /* Adjust the distance of the arrow from the text */
      opacity: 0;
      transition: opacity 0.3s ease, right 0.3s ease;
    }
    
    .custom-link:hover {
      color: #0056b3; /* Darker shade of the primary color */
    }
    
    .custom-link:hover::after {
      opacity: 1;
      right: -30px; /* Adjust the distance of the arrow animation */
    }