<div class="login-page d-flex align-items-center">
  <div class="container container-fluid justify-content-center">
    <div class="row justify-content-center align-items-center no-gutters">
      <!-- Login Form Block -->
      <div class="col-md-6 col-lg-5 login-form-block p-4">
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
          "
        >
          <img
            src="/public/assets/images/logo3.png"
            alt="SecureMiles Logo"
            class="img-fluid"
            style="width: 150px"
          />
          <h3 class="text-center primaryColor">
            Welcome back to
            <span style="color: rgb(221, 12, 162)">SecureMiles</span>
          </h3>
        </div>
        <form>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter your email"
            />
          </div>
          <div class="mb-3 mt-3">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Enter your password"
            />
          </div>
          <button type="submit" class="btn w-100 btnColor mt-3">Login</button>
        </form>
        <p class="text-center mt-3">
          Don’t have an account?
          <a [routerLink]="['/signup']" class="signup-link primaryColor"
            >Sign up here</a
          >
        </p>
      </div>

      <!-- Image Block -->
      <div class="col-md-6 col-lg-6 login-image-block">
        <img
          src="/public/assets/images/car1.png"
          alt="Login Illustration"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
