.main-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header {
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: #321546;
  padding-bottom: 20px;
}

.header2 {
  border-radius: 10px;
  background-color: #581883;
  color: #ffffff;
  padding: 20px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-card {
  border: 2px solid #5f0765;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
  flex: 1 1 calc(33.333% - 20px);
  height: 100%;
  margin-bottom: 20px;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #6c12a9;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.card-text {
  margin-bottom: 10px;
}

.form-check-label {
  margin-left: 10px;
}

.upload-section {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.upload-section h3 {
  color: #28a745;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.bg-color-1 {
  background-color: #f8f9fa;
}

.bg-color-2 {
  background-color: #e9ecef;
}

.bg-color-3 {
  background-color: #dee2e6;
}
