.hero-section {
    background: linear-gradient(135deg, #d1dff4, #e3cfe2);
    color: #333;
    padding: 60px 0;
  }
  
  .hero-section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .form-control {
    border-radius: 8px;
  }
  
  .btn {
    background-color: #302457;
    border: none;
  }
  
  .btn:hover {
    background-color: #564392;
  }
  