<div class="container">
  <div class="main">
    <!-- Right side with form -->
    <div class="col-md-6">
      <h1 class="fw-bold text-dark text-center">
        {{ isOtpStep ? "Enter One Time Password" : "Reset Password" }}
      </h1>
      <p class="text-center">
        {{
          isOtpStep
            ? "We have sent an OTP to your registered email address. Please enter the OTP below."
            : "Enter a new password for your account."
        }}
      </p>
      <form (ngSubmit)="submitResetPassword()">
        <div *ngIf="isOtpStep" class="mb-3 otp">
          <ngx-otp-input
            #otpInput
            [options]="otpOptions"
            (otpComplete)="submitOtp($event)"
          >
          </ngx-otp-input>
        </div>
        <div *ngIf="!isOtpStep">
          <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <div class="input-group">
              <span class="input-group-text">
                <i class="fas fa-lock"></i>
              </span>
              <input
                type="password"
                id="password"
                [(ngModel)]="password"
                name="password"
                class="form-control"
                placeholder="Enter your new password"
                required
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label"
              >Confirm Password</label
            >
            <div class="input-group">
              <span class="input-group-text">
                <i class="fas fa-lock"></i>
              </span>
              <input
                type="password"
                id="confirmPassword"
                [(ngModel)]="confirmPassword"
                name="confirmPassword"
                class="form-control"
                placeholder="Re-enter your new password"
                required
              />
            </div>
          </div>
        </div>
        <!-- disable if otp length is less than 6 -->
        <button
          *ngIf="!isOtpStep"
          type="submit"
          class="btn btn-primary"
          style="width: 50%; margin-left: 140px"
        >
          {{ isOtpStep ? "Submit OTP" : "Reset Password" }}
        </button>
      </form>
      <p *ngIf="message" class="mt-3 text-success text-center">{{ message }}</p>
      <p *ngIf="error" class="mt-3 text-danger text-center">{{ error }}</p>
    </div>
    <!-- Left side with image -->
    <div class="col-md-6 d-none d-md-block">
      <img
        src="/public/assets/images/resetPassword.png"
        alt="Reset Password Image"
        class="img-fluid"
        style="width: 80%"
      />
    </div>
  </div>
</div>
